# Logs
*.log

# Temporary files
*.tmp

# macOS
.DS_Store

# VS Code
.vscode/

# Bash history
.bash_history

# Python
__pycache__/
*.pyc

# Paquetes y descargas
*.deb
*.tar.gz

# Antigravity IDE
.agents/